esphome:
  name: "environment"
  friendly_name: "environment"

esp32:
  board: esp32dev
  framework:
    type: arduino

i2c:
  sda: GPIO21
  scl: GPIO22
  scan: True
  id: bus_a

sensor:
  - platform: aht10
    i2c_id: bus_a
    address: 0x38
    variant: AHT20
    temperature:
      name: "environment Temperature"
      id: aht10_temperature
    humidity:
      name: "environment Humidity"
      id: aht10_humidity
    update_interval: 5s

web_server:
  port: 80

logger:
  level: DEBUG

api:
  encryption:
    key: !secret api_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: on

captive_portal:
