name: pytest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  pytest:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: nix develop .#devShells.x86_64-linux.default -c pytest tests
